<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RNMoody.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E06244591E5D1CAA009B25A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E062446D1E5D1CAB009B25A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E06244781E5D1CAB009B25A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
